@import url("http://fonts.gooogleapis.com/css2?family=Poppins:wght@300;400;500;60;700;800;900&display=swap");
#product{
    margin-top: 15rem;
    width: 100%;
}
.product_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14rem;
    width: 90%;
}
.product_img {
    display: block;
    width: 50%;
}
.product_img img{
    display: block;
    object-fit: cover;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
}
.img_small{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 90%;
    margin-left: auto;
}
.img_small img{
    object-fit: cover;
    width: 22%;
}
.img_small :active{
    border: 2px solid orange;
    opacity: 0.7;
}
.product_content{
    width: 50%;
    margin: 0 auto;   
}
.company_txt{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.product_content h2{
    font-size: 2rem;
    margin: 1rem 0;
    width: 60%;
    color: white;
}
.product_desc{
    width: 65%;
    margin: 2rem 0;
    font-size: 1rem;
    line-height: 1.56;
    color:white;
}
.price {
    display: flex;
    -ms-flex-direction: row-reverse;
}
.price span {
    display: block;
}

.discount_price{
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}
.nomal_price{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}
.discount{
    font-weight: normal;
    font-size: 1.5rem;
    background-color: white;
    padding: 0 0.5rem;
    color: orange;
    font-weight: 700;
    margin-left: 1rem;
    
}
.total_price{
    text-decoration: line-through;
    color: rgb(162, 162, 162);
    margin: 1rem 0;
    font-size: 22px;
}
.qty{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns button{
    outline: none;
    border: none;
    background-color: gray;
    color: orange;
    padding: 0.7rem 1.2rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-size: 2rem;
}
.btns button :active{
    transform: scale(0.98);
}
.btns .qty_number{
    color: black;
    font-weight: 600;
}
.add_cart{
    box-sizing: content-box;
    outline: none;
    border: none;
    background-color: orange;
    font-family:"Poppins", sans-serif ;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    margin:0 4rem 0 4rem;
    cursor: pointer;
    width: 160px;
}
/* change cart size */
.add_cart i{
    margin-right: 1rem;
    
}
/* modal */
/* .modal{
    width: 100%;
    height: 100%;
    display: none;
}
.modal::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
.modal_wrapper{
    width: 450px;
    position: absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* นาทีที่52 */
/* .img_thumbnail_modal img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.img_small_modal{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.img_small_modal{
    object-fit: cover;
    width: 100%;
} */
/* close icon */
/* .close_icon{
    position: absolute;
    top: -20px;
    right: 0;
    cursor: pointer; 
}  */
@media (max-width:1000px) {
    .product_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 14rem;
        width: 90%;
    }
    
}